{% extends 'pedidos/base.html' %}

{% block titulo %}Restaurantes — mandaditos.com{% endblock %}

{% block contenido %}
<div class="container mt-5">

    <h1 class="text-center mb-4">🍔 Restaurantes</h1>

    <div class="d-flex justify-content-end mb-3">
        <a href="{% url 'registrar_restaurante' %}" class="btn btn-success">
            + Nuevo Restaurante
        </a>
    </div>

    {% if restaurantes %}
        <table class="tabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Teléfono</th>
                    <th>Activo</th>
                    <th>Rating</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for restaurante in restaurantes %}
                <tr>
                    <td>{{ restaurante.pk }}</td>
                    <td class="fw-semibold">{{ restaurante.nombre }}</td>
                    <td>{{ restaurante.categoria }}</td>
                    <td>{{ restaurante.telefono }}</td>
                    <td>
                        <span class="text-warning">
                            {{ restaurante.rating }} ⭐
                        </span>
                    </td>
                    <td>{% if restaurante.activo %}✅{% else %}❌{% endif %}</td>
                    <td class="acciones">
                        <a href="{% url 'editar_restaurante' restaurante.pk %}" class="btn">Editar</a>
                        <a href="{% url 'eliminar_restaurante' restaurante.pk %}" class="btn-eliminar">Eliminar</a>
                        <a href="{% url 'rating_restaurante' restaurante.pk %}" class="btn-guardar">Rating</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
         <div class="alert alert-info text-center">
            No hay restaurantes registrados aún.
            <br>
            <a href="{% url 'registrar_restaurante' %}" class="btn btn-primary mt-2">
                Registrar uno
            </a>
        </div>
    {% endif %}
{% endblock %}